<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contents</key>
	<array>
		<string>还是一个人独自走在那熟悉的大街上，好熟悉的场景。曾经与她走过的大街依然那么热闹，当年的悲伤，思念已被冲淡许多，想想以前走过的画面，只是有点怀念而已，也不像当年那样去在人群中寻找她那微小的背影，虽然知道她不会再出现。也就这样，慢慢的走着，想着以前的回忆，也不像以前那样，但始终留有那一份淡淡的忧伤。</string>
		<string>是谁，静静的，悄悄的，温柔地抚摸一下你的脸，从你身旁轻轻溜过？是谁，跑跑颠颠，冒冒失失，猛然间推你一把，再撒一抔尘沙落荒而逃？</string>
		<string>想来，流年暗换，三月已不是那段枯瘦的光阴。旧年的那首《葬花吟》，只剩短歌余韵，如一阕殇词，清浅地沉落，忧伤而不失风雅。</string>
		<string>与你相约，茶花开时，人已来。</string>
		<string>是谁，在一纸浅墨文字里安静等待？是谁，在一路时光里仆仆风尘？又是谁，在一叶轻舟里只影远行？</string>
		<string>与你，相约，是一种清浅的禅意，因为，想你，是一种忧伤的美丽！</string>
		<string>与你相约，是一种清浅的禅意，而我，便在红尘最深处的禅意里，等你！</string>
		<string>时间如来，不期而至，世界如是，相见恨晚，若能守得一隅清明，只许你与我共度，做梵净山里的飞鸟相与还，朝花夕拾，煮茶焚香，杖藜执酒，白马轻舟，君可愿？</string>
		<string>如果，可以用一生的打坐，笃定成一种禅意，那么，我深信，一直等下去，等待一个人一场天荒地老的爱情。</string>
		<string>“自古华山一条路”，确实是一条路吗？</string>
		<string>罗素将人类分为全知的天才和无知者，就像古希腊的智者泰勒斯和千金买笑的姬宫涅，就像巴黎圣母院钟塔里的撞钟人和爱斯美拉达，盗跖和哀骀它。</string>
		<string>摩肩继踵的陌上人，空洞的目光偶尔散发炽热，继而如残烛般熄灭，化成凝固于大地的灰烬。</string>
		<string>近来，琐碎的生活杂事和烦乱的职场斗争让我反复的回想来时的旅程，曾经仿佛是一段那样纯净而祥和的岁月，如今却变得这般模样;虽然世界的发展带给了我们无比简约而搞笑的现代化都市生活，但却也带走了很多质朴而天然的原始本质。</string>
		<string>记得小时候，每天放学走在回家的路上，想的都是母亲做的什么菜，偶尔在早餐摊上吃根油条，都觉得是一种满满的幸福;可现在，每次加班点外卖的时候，都会翻来覆去的看好几遍菜谱，最后选择一个不是最厌烦的，每次聚会，无论是多么丰盛的佳肴，都感觉索然无味。记得长大些，到当城市里上大学，仿佛做了好久长途车，路过了无数的风景，每一张滑过车窗的画面都如同视觉享受;可现在，每天穿梭在喧嚣繁华的都市里，即便是跨越千里的异地美景，都如同在略过一个个站台时的平淡无奇。记得也就几年前，我们还会打电话聊天问候，下班回家后和亲人谈心交流，体会家庭的踏实和温馨;可现在，纵然万千好友聚集的会场，也只见手机是各自最亲密的朋友，尽管每个人近在咫尺，但心灵却相聚千里、孤立冷漠。</string>
		<string>也许有的人会说，现在的生活不好么;从粗茶淡饭到山珍海味，从白山涉水到四通八达，从破衣烂衫到时尚奢华，从家徒四壁到富丽堂皇......这些改变都让我们在每天的生活中都享受着愈善愈美的物质条件，身体得到了宠溺，思想仿佛也被俘虏，所以就这样不断的跟随、享用、追逐、崇尚......直到有一天，我们发现，自己的灵魂并没有附体，精神早已被遗忘在原地。</string>
		<string>一个人若屈从于政府和规则的安排，也势必会由政府为他的行为负责，其人就会丧失道德感。因为他将会放弃自己的见解、知识、机会和追求。</string>
		<string>只因为灵魂是生命的，所以，注定着我们的孤独，当孤独最终使生命成为一种本真，从而最终确定着永恒的灵魂。</string>
		<string>什么是哲理?哲理是一种以哲学方式思考而得出的道理。</string>
		<string>世人总是关注输赢、成败和贵贱。成功将会使人面对荣耀和尊严，失败将面对沮丧和受人唾弃。这种时候，一切邪恶将会为挣脱原则的牢笼而不惜弑主。</string>
		<string>曾经凋凄的无奈挽留，始终抹不去心头透悟大地的归省。一段浓缩时间的思绪，激荡起落叶菩提的世智辩聪，也展开了生命流程的过去、现在与未来。</string>
		<string>旅途中，我们会得到，也会失去;世界的前行会改变我们的食物，会改变我们的衣着，更有可能会改变我们的样貌;但不变的始终是我们的梦想;无论世界改变什么，灵魂都是属于我们自己的。</string>
		<string>当一种睿智将生命的声音带入了喧嚣的红尘，我们就应该在是非争闹中找到辩聪自明的方向;</string>
		<string>没有灵魂的人是不会具备孤独感的，但具有孤独感的人未必都具备一颗孤独的灵魂，只当灵魂成为生命的重生，只当生命成为灵魂的代言。</string>
		<string>佛渡有缘人，怎么渡，谁是有缘人?终究到底还是救人于沉靡，渡人于邪恶，佛家就至善至真?可不尽然，这就像人生，礁石露而水出，云无心以出岫。</string>
		<string>人活着需要感情，也只有人类才能用语言符号记述它。</string>
		<string>如今，遍观周身，财富有来有去，人脉时多时少，爱情难以掌握。焦虑、恐慌无时不萦绕心头。</string>
		<string>珍惜时间，珍爱生命。于清凉的岁月里，爱生活，爱亲朋。将梦想装进行囊，把责任扛在肩上，用真情回馈未来的时光。珍视当下的每一个晨昏，把握人生际遇里的所有缘分。</string>
		<string>谦逊基于力量，高傲基于无能。</string>
		<string>“花有重开日，人无再少年”。人的一生，恰似一场花开花谢的过程，却无缘重现花儿的再世轮回。</string>
		<string>也只有漫过了心灵嵯峨的港湾，才知道拥有宁静才可以致远;错过了春神恩赐的季节，才知道放弃了不该放弃的时机。</string>
		<string>又或许是心中的豁达，那是世俗的磨炼，也是种收获，沉默的睿智。</string>
		<string>我感到难过，不是因为你欺骗了我，而是因为我再也不能相信你了。 ——尼采</string>
		<string>平时看似漫长的人生，其实来日并不方长。</string>
		<string>心灵上的皴皱并没有阻碍逻辑思维的进展，时序的轮回，也不会停凝惠风和畅的步伐。</string>
		<string>遇见皆是缘。人与人的情感，需要用心呵护。无论多么熟悉的人，如果不经常连络，慢慢地感情就淡了，心与心也会越来越远。</string>
		<string>&quot;对待生命你不妨大胆冒险一点, 因为好歹你要失去它。如果这世界上真有奇迹，那只是努力的另一个名字。生命中最难的阶段不是没有人懂你，而是你不懂你自己。</string>
		<string>有怎样的灵魂便会有怎样的孤独，同样，有怎样的孤独就会造就怎样的灵魂。</string>
		<string>人生没有目的，只有过程，所谓的终极目的是虚无的。---人的情况和树相同。它愈想开向高处和明亮处，它的根愈要向下，向泥土，向黑暗处，向深处，向恶---千万不要忘记。我们飞翔得越高，我们在那些不能飞翔的人 眼中的形象 越是渺小。</string>
		<string>漠漠红尘，芸芸众生皆是客。时光的渡口，走着走着，岁月忽已晚。这个世界，没有什么能够真的永恒。人的一生，也没有那么多富余的时间让我们一直等。因为谁都不知道，明天和意外哪个先来。</string>
		<string>你遭受了痛苦，你也不要向人诉说，以求同情，因为一个有独特性的人，连他的痛苦都是独特的，深刻的，不易被人了解，别人的同情只会解除你的痛苦的个人性，使之降低为平庸的烦恼，同时也就使你的人格遭到贬值。</string>
		<string>人生苦短，请惜时、惜缘。这一世我们能够相遇、相知、相惜，能够成为彼此的家人、朋友、爱人，这应是上天注定好的缘分。有了爱与温暖的陪伴，我们的人生才是圆满!</string>
		<string>谁终将声震人间，必长久深自缄默;谁终将点燃闪电，必长久如云漂泊。 ——尼采</string>
		<string> 千万不要忘记：我们飞翔得越高，我们在那些不能飞翔的人眼中的形象越是渺小。</string>
		<string> 你要搞清楚自己人生的剧本——不是你父母的续集，不是你子女的前传，更不是你朋友的外篇。对待生命你不妨大胆冒险一点， 因为好歹你要失去它。如果这世界上真有奇迹，那只是努力的另一个名字。生命中最难的阶段 不是没有 人懂你，而是 你不懂你自己。</string>
		<string>白昼的光，如何能够了解夜晚黑暗的深度呢?</string>
		<string>不能听命于自己者，就要受命于他人。</string>
		<string> “他沉沦，他跌倒。”你们一再嘲笑，须知，他跌倒在高于你们的上方。他乐极生悲，可他的强光紧接你们的黑暗。</string>
		<string>13、 人的精神有三种境界：骆驼、狮子和婴儿。第一境界骆驼，忍辱负重，被动地听命于别人或命运的安排;第二境界狮子，把被动变成主动，由“你应该”到“我要”，一切由我主动争取，主动负起人生责任;第三境界婴儿 ，这是一种 “我是”的 状态，活在当下，享受现在的一切。</string>
		<string>那真正的收获究竟是什么?在哪里?</string>
		<string>我的行动和思想执拗地不肯苟合，在我金华璀璨的思想河流里，行动总是步步为营，缺乏乖张和恣意突破规矩，如沉眠小兽不惧燃烧的烈焰。</string>
	</array>
	<key>pics</key>
	<array>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1700205353,2262038514&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2238177175,2194918470&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3559582863,3336665677&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2845319243,2772032539&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=213630767,2835581644&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2498556505,3152150579&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2660850626,1008186849&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1473792693,2941241905&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=806196369,3208442237&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=664719115,2896221748&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=511400177,1710406246&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=200028132,657836476&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1408275433,2755013909&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4292185317,3659149092&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1963480763,1856994380&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4222479123,3108724921&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3322704602,393322959&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=920058770,848549714&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=629171113,4284124691&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4255021486,1442006766&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1781552337,913627449&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=749666794,2146179791&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2999398056,3735385080&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2277152182,601492150&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2859564106,2547295078&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=739229677,2953137742&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=798315985,3328391652&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1869693135,4059122404&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2467331667,1281901889&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4071635608,1253780400&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3502351098,3345903470&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1249604241,3190900446&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2491971025,4160552645&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4217286660,926045931&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3158731369,694342385&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=902219909,2064505095&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4075745109,4166058692&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2833572617,2982944170&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1705917186,1248867971&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1058982076,1506857244&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4089329617,3899009412&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3973285598,3264957183&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1932205355,3361857654&amp;fm=11&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=408322443,3666777781&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1951449004,2458933188&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1758038300,1443813503&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4082213347,779837253&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1365175620,117246283&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3540639046,124588459&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2857345242,3670729978&amp;fm=27&amp;gp=0.jpg</string>
	</array>
</dict>
</plist>
